h1 How would you build a spaceship using a <span class="keyword">banana</span> and a <span class="keyword">rainbow</span>?

textarea.answer(placeholder="I would...")

button(role="button") Send Answer
  i.large-icon.icon-arrow-right