@import '_settings'
@import 'icons'

normalize()
base()

@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,700");

purple = #9b59b6

html
  border-top      2px solid purple

a
  color           purple

body
  font-family     "Open Sans", sans-serif

.right.floated
  float           right

.main
  padding         2em

  @media(min-width: 600px)
    padding       4em

h1
  font-weight     300

.keyword
  padding         0 0.2em
  border-bottom   1px solid purple
  background      lighten(purple, 90%)
  display         inline-block
  margin          0.2em 0

.label
  background      purple
  border-radius   999px
  color           white
  padding         0.3em
  size(1.2em)
  line-height     1.2
  text-align      center
  display         inline-block
  margin-left     0.5em

.profile
  font-size       0.8em

.name
  font-weight     700

header
  group()
  background      #f9f9f9
  box-sizing      border-box
  padding         0.5em
  width           100%

textarea
  border          1px solid #ccc
  display         block
  width           100%
  margin-bottom   1em
  padding         1em
  box-sizing      border-box

.toggle
  cursor          pointer

  &:active,
  &:focus,
  &:hover
    color         lighten(purple, 20%)
    transition    0.2s all ease-in-out

button
  -webkit-appearance none
  simple-button(purple, large)
  margin          0 auto
  color           white
  border          none
  box-shadow      none
  font-weight     300
  transition      0.2s all ease-in-out
  padding         0.5em 0.3em 0.5em 0.7em

  &:active,
  &:focus,
  &:hover
    color         white

footer
  text-align      center
  font-size       0.8em
  font-weight     300

ul
  list-style      none
  padding         0
  margin          0

  li
    display       inline-block
    padding       0
    margin        0

    a
      display     block
      padding     0.5em 0.2em